{{!-- {{#if blogposts.length}}
  {{#each blogposts as |blogpost|}}
    {{> blogpost-info blogpost=blogpost }}
    
    {{!-- {{#if blogpost.comments.length}}
      <h3>Comments:</h3>
      <ul>
        {{#each blogpost.comments as |comment|}}
          <li>{{comment.text}}</li>
          <!-- Add other comment information as needed -->
        {{/each}}
      </ul>
    {{else}}
      <p>No comments for this blogpost yet.</p>
    {{/if}} --}}
  {{!-- {{/each}}
{{else}}
  <h6 class="pb-4 has-text-centered is-italic">There are currently no blogposts</h6>
{{/if}}  --}}

{{#if session.logged_in}}
  <div class="call-to-action">
    <h5>Add blogposts to your profile</h5>
    <button class="btn cta-button">
      <a href="/profile">Profile</a>
    </button>
  </div>
{{else}}
  <div class="call-to-action">
    <h3>Want to create your own blogpost, or view/add comments?</h3>
    <h3>Sign up or login below!</h3>
    <span for="img" aria-label="blog">👩🏻‍💻</span>
    <div class="login-buttons">
      <button class="btn cta-button">
        <a href="/login">Login</a>
      </button>
      <button class="btn cta-button">
        <a href="/signup">Signup</a>
      </button>
    </div>
  </div>
{{/if}}